* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(255, 223, 234)
}

input {
    -webkit-appearance: none;
}

#view {
    width: 90%;
    margin: auto;
}

#heading {
    text-align: center;
}

#graphic {
    width: 60%;
    max-width: 700px;
    margin: 50px 0px 0px 0px;

    filter: drop-shadow(2px 4px 0px black);
}

#subtitle {
    margin-top: 40px;
}

#input-form {
    display: flex;
    justify-content: center;
}

#text-field {
    font-size: 40pt;
    max-width: 70%;

    padding-left: 5px;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#text-field:hover {
    border-color: black;
}

#submit-button {
    font-size: 40pt;
    margin-left: 10px;

    background-color: white;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#submit-button:hover {
    border-color: black;
}

#submit-button:active {
    position: relative;
    left: 1px;
    top: 2px;

    background-color: lightblue;
    box-shadow: 1px 2px black;
}

#submit-button-img {
    width: 40px;
    height: 40px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 3px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    text-align: center;
}

@media only screen and (max-width: 650px) {
    #graphic {
        width: 80%;
    }

    #subtitle {
        font-size: 1.5em;
    }

    #text-field {
        font-size: 20pt;
        max-width: 80%;
    }

    #submit-button {
        font-size: 20pt;
    }

    #submit-button-img {
        width: 20px;
        height: 20px;
    }
}
