* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(255, 223, 234)
}

input {
    -webkit-appearance: none;
}

.text-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.no-margins {
    margin: 0px;
}

#view {
    width: 90%;
    margin: auto;
}

#graphic {
    width: 60%;
    max-width: 700px;
    margin: 50px 0px 0px 0px;

    filter: drop-shadow(2px 4px 0px black);
}

#subtitle {
    margin-top: 40px;
}

#input-form {
    display: none; /* js will change this to flex */
    justify-content: center;
}

#text-field {
    font-size: 40pt;
    max-width: 70%;

    padding-left: 5px;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#text-field:hover {
    border-color: black;
}

#spotify-button {
    font-size: 40pt;

    background-color: white;
    border: solid;
    border-color: grey;
    border-radius: 6px;
    box-shadow: 2px 4px black;
}

#spotify-button:hover {
    border-color: black;
}

#spotify-button:active {
    position: relative;
    left: 1px;
    top: 2px;

    background-color: lightblue;
    box-shadow: 1px 2px black;
}

#spotify-button-img {
    vertical-align: middle;
}

#playlist-img {
    max-width: 100%;
}

#footer {
    margin-top: 50px;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 1.5em;
    }

    #graphic {
        width: 80%;
    }

    #text-field {
        font-size: 20pt;
        max-width: 80%;
    }

    #spotify-button {
        font-size: 20pt;
    }

    #spotify-button-img {
        width: 20px;
        height: 20px;
    }
}
